@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white font-nunito text-gray-800;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-poppins;
}

/* Uşaq interfeysi üçün xüsusi stil */
.child-text {
  @apply font-comic text-xl;
} 